<section class="todoapp">
  <header class="header">
    <!-- text interpolations -->
    <h1>{{ title }}</h1>
    <!-- property binding -->
    <input class="new-todo" [placeholder]="placeholder" autofocus />
  </header>
  <section class="main" style="display: block">
    <!-- event binding -->
    <!-- 用 $event 傳入該事件 -->
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="toggleAllBtn"
      (click)="toggleAll()"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- class binding -->
      <!-- 單個 class -->
      <li
        data-id="1677138422731"
        [class.completed]="check1"
        [class.smallText]="check1"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            [checked]="check1"
            (click)="toggleOne($event)"
          />
          <label>111</label>
          <button class="destroy"></button>
        </div>
      </li>
      <!-- 多個 class -->
      <li
        data-id="1677138425858"
        [class]="{ completed: check2, smallText: check2 }"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            [checked]="check2"
            (click)="toggleTwo()"
          />
          <label>222</label>
          <button class="destroy"></button>
        </div>
      </li>
    </ul>
  </section>
</section>
